body{
  background: linear-gradient(0deg, rgba(246,245,255,1) 0%, rgba(191,200,255,1) 100%, rgba(193,198,225,1) 100%);
}

.App {
  text-align: center;
  display: flex;
  /* width: 100vw;
  height: 100vh; */
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes show{
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadeEffect {
  animation: show .2s forwards;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
